.footer{
    background-color: #0B7572;
}

.footer_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: start;
}

.footer1 h1{
font-weight: 500;
font-size: 60px;
line-height: 150%;
letter-spacing: 0.16em;
text-transform: capitalize;
color: #fff;
}

.footer1 ul li a{
    font-family: $font;
font-weight: 600;
font-size: 13px;
line-height: 150%;
letter-spacing: 0.16em;
text-transform: capitalize;
text-align: center;
color: #fff;
text-decoration: none;
}
.footer1 ul li a:hover{
    text-decoration: underline;
}


.footer1 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_inside{
    display: flex;
    gap: 20px;
}

.footer2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer2 a{
    font-family: $font;
font-weight: 600;
font-size: 13px;
line-height: 150%;
text-transform: uppercase;
color: #fff;
}

.footer2 a:hover{
    text-decoration: underline;
}


.footer2 button{
    background-color: #FF9619;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 6px;
    transition: 0.5s;
}

.footer2 button:hover{
    color: #FF9619;
    background-color: #fff;
    border: 1px solid #FF9619;
}



@media(max-width:800px){
    .footer_wrapper{
        flex-wrap: wrap;
        gap: 50px;
    }
}


@media(max-width:500px){
    .video{
        display: none;
    }
}

.footer_footer a{
    font-family: $font;
font-weight: 500;
font-size: 12px;
line-height: 150%;
letter-spacing: 0.16em;
text-transform: capitalize;
text-align: center;
color: #fff;
}

.footer_footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}