.showcase_left_and_right{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.showcase_left h1{
    font-family: $font;
    color: $black;
font-size: 52px;
font-weight: 600;
line-height: 65px;

}

.showcase_left p{
    width: 70%;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: $gray;
}

.showcase_left h3{
font-size: 16px;
font-weight: 700;
line-height: 24px;
color: $black;
}

.showcase_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}