.table_left_and_right{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table{
    background-color: #0B7572;
    width: 100%;
    padding: 30px;
}

.table_right{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.table_left h2{
    font-family: $font;
font-weight: 600;
font-size: 48px;
line-height: 125%;
color: $white;
}

.table_header_div{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.table_header_div p{
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: $gray;
width: 40%;
}

.foto{
    display: flex;
    justify-content: space-between;
    background-color: #0B7572;
    width: 100%;
    height: 45px;
    align-items: center;
    padding: 10px;

}

.foto h3{
font-family: font;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: $white;
}


.table_tr{
    display: flex;
    justify-content: space-between;
}

.hrrr{
    margin-top: 32px;
    margin-bottom: 32px;
}

.table_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.table_grid_div1{
    border:1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.table_grid_div1 img{
    width: 60%;
}

.table_grid_div1 h3{
font-weight: 700;
font-size: 14px;
line-height: 135%;
color: $black;
}

.table_grid_div1 p{
font-weight: 400;
font-size: 14px;
line-height: 135%;
color: $gray;
width: 60%;
}


@media(max-width:1100px){
.table_grid_div1 img{
    width: 80%;
}
}

@media(max-width:1000px){
.table_grid_div1 img{
    width: 100%;
}
}

@media(max-width:1000px){
    .table_left_and_right{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
}




@media(max-width:700px){
    
.table_header_div p{
    display: none;
}
.foto .reminder{
    display: none;
}
.table_grid{
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
}
.display_none {
    display: none !important;
}
.table_grid_div1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;

}
.table_grid_div1:hover{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 20px;
}

.table_grid_div1 img{
    width: 30%;
}
}

@media(max-width:450px){
    .table_left h2{
    font-family: $font;
font-weight: 500;
font-size: 38px;
line-height: 105%;
color: $white;
}
.table_grid_div1 img{
    width: 40%;
    display: none;
}
}

@media(max-width:320px){
      .table_left h2{
    font-family: $font;
font-weight: 500;
font-size: 32px;
line-height: 105%;
color: $white;
}   
}

.table_first_div{
    width: 100%;
}