.trust{
    margin-top: 50px;
    margin-bottom: 50px;
}

.trust_title h2{
    font-family: $font;
font-weight: 600;
font-size: 48px;
line-height: 125%;
color: $black;
}

.trust_title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.trust_card{
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    text-align: center;
    align-items: center;
  gap: 20px;
  width: 100%;
  height:200px;
}
