@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

link {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_links ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar_links ul li {
  list-style: none;
}

.navbar_links ul li a {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #363738;
  font-family: "Exo 2", sans-serif;
}

.menu_bar_div {
  display: none;
}

@media (min-width: 800px) {
  .menubar, .x_mark {
    font-size: 25px;
    display: none;
  }
}
.checkbox {
  display: none;
}

@media (max-width: 800px) {
  .navbar_links .ul_links {
    position: fixed;
    left: -100%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s linear;
    z-index: 999;
  }
  .menubar {
    font-size: 25px;
  }
  #check:checked ~ .ul_links {
    left: 0;
  }
  .menu_bar_div {
    display: block;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .navbar_logo img {
    width: 80%;
  }
}
@media (max-width: 300px) {
  .navbar_logo img {
    width: 70%;
  }
}
.showcase_left_and_right {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.showcase_left h1 {
  font-family: "Exo 2", sans-serif;
  color: #363738;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
}

.showcase_left p {
  width: 70%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
}

.showcase_left h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #363738;
}

.showcase_left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.showcase_right {
  width: 100%;
}

.showcase_right img {
  width: 100%;
}

@media (max-width: 800px) {
  .showcase_left_and_right {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .showcase_left h1 {
    font-family: "Exo 2", sans-serif;
    color: #363738;
    font-size: 42px;
    font-weight: 600;
    line-height: 55px;
  }
}
.search {
  margin-top: 50px;
  margin-bottom: 50px;
}

.search_divs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 20px;
  padding: 30px;
}

.search_first_div {
  padding: 20px 30px;
  border-right: 1px solid #d7d7dd;
}

.search_first_div h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  margin: 10px 0;
  color: #363738;
  width: 60%;
}

.search_first_div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  width: 60%;
}

@media (max-width: 800px) {
  .search_divs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .search_first_div {
    display: flex;
    gap: 20px;
    border-right: none;
  }
  .search_first_div:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }
  .search_first_div h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    margin: 10px 0;
    color: #363738;
    width: 100%;
  }
  .search_first_div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6C;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .search_first_div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .search_first_div:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }
}
@media (max-width: 400px) {
  .search_divs {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 20px;
    padding: 1px;
  }
  .search_first_div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .search_first_div:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }
}
.why_image img {
  width: 100%;
}

.why_image {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.why_div_for_text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.why_div_for_text h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #363738;
}

.why_div_for_text p {
  font-weight: 400;
  font-size: 16px;
  color: #6B6B6C;
  width: 60%;
}

.why_card {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.why_cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
}

@media (max-width: 768px) {
  .why_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .why_card {
    display: flex;
  }
  .why_div_for_text p {
    font-weight: 400;
    font-size: 16px;
    color: #6B6B6C;
    width: 90%;
  }
}
@media (max-width: 400px) {
  .why_card {
    display: flex;
    flex-direction: column;
  }
}
.why_image h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
}

@media (max-width: 400px) {
  .why_image img {
    display: none;
  }
}
@media (min-width: 401px) {
  .why_image h3 {
    display: none;
  }
}
.why_card:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 20px;
}

.work_cards {
  display: flex;
  gap: 10px;
}

.work {
  margin-top: 50px;
  margin-bottom: 50px;
}

.work_title {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work_card {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.work_card img {
  width: 100%;
}

.work_card:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 20px;
}

.work_title h2 {
  font-family: font;
  font-weight: 600;
  font-size: 48px;
  color: #363738;
}

.work_title p {
  font-weight: 400;
  font-size: 16px;
  color: #6B6B6C;
}

.work_card h3 {
  font-family: font;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
}

.work_card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  width: 70%;
}

@media (max-width: 768px) {
  .work_cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .work_title h2 {
    font-family: font;
    font-weight: 600;
    font-size: 36px;
    color: #363738;
  }
}
.table_left_and_right {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table {
  background-color: #0B7572;
  width: 100%;
  padding: 30px;
}

.table_right {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.table_left h2 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #ffffff;
}

.table_header_div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.table_header_div p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #6B6B6C;
  width: 40%;
}

.foto {
  display: flex;
  justify-content: space-between;
  background-color: #0B7572;
  width: 100%;
  height: 45px;
  align-items: center;
  padding: 10px;
}

.foto h3 {
  font-family: font;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.table_tr {
  display: flex;
  justify-content: space-between;
}

.hrrr {
  margin-top: 32px;
  margin-bottom: 32px;
}

.table_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table_grid_div1 {
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table_grid_div1 img {
  width: 60%;
}

.table_grid_div1 h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}

.table_grid_div1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #6B6B6C;
  width: 60%;
}

@media (max-width: 1100px) {
  .table_grid_div1 img {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .table_grid_div1 img {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .table_left_and_right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 700px) {
  .table_header_div p {
    display: none;
  }
  .foto .reminder {
    display: none;
  }
  .table_grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
  }
  .display_none {
    display: none !important;
  }
  .table_grid_div1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
  }
  .table_grid_div1:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 20px;
  }
  .table_grid_div1 img {
    width: 30%;
  }
}
@media (max-width: 450px) {
  .table_left h2 {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 105%;
    color: #ffffff;
  }
  .table_grid_div1 img {
    width: 40%;
    display: none;
  }
}
@media (max-width: 320px) {
  .table_left h2 {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 105%;
    color: #ffffff;
  }
}
.table_first_div {
  width: 100%;
}

.stages {
  margin-top: 30px;
  margin-bottom: 30px;
}

.stages_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.stages_title h2 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #363738;
}

.stage_inside_text h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #363738;
  margin-left: 30px;
}

.stage_inside_text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  width: 55%;
  margin-left: 30px;
}

.stage_inside_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stages_card {
  display: flex;
  gap: 20px;
  padding: 30px 0 30px 100px;
  justify-content: center;
  margin-left: 30px;
  transition: 0.3s;
}

.stages_card:hover {
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .stage_inside_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6C;
    width: 80%;
    margin-left: 30px;
  }
}
@media (max-width: 938px) {
  .stage_inside_img {
    display: none;
  }
  .stages_card {
    display: flex;
    gap: 20px;
    padding: 30px 0 30px 10px;
    justify-content: center;
    margin-left: 30px;
  }
  .stage_inside_text h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #363738;
    margin-left: 10px;
  }
  .stage_inside_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6C;
    width: 90%;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
